USE [master]
GO
/****** Object:  Database [ApiQylon]    Script Date: 09/03/2023 17:41:33 ******/
CREATE DATABASE [ApiQylon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ApiQylon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ApiQylon.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ApiQylon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ApiQylon_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ApiQylon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ApiQylon]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 09/03/2023 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Competidores]    Script Date: 09/03/2023 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Competidores](
	[CompetidorId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](150) NULL,
	[Sexo] [char](1) NULL,
	[TemperaturaMediaCorpo] [decimal](18, 2) NOT NULL,
	[Peso] [decimal](18, 2) NOT NULL,
	[Altura] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Competidores] PRIMARY KEY CLUSTERED 
(
	[CompetidorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HistoricoCorrida]    Script Date: 09/03/2023 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoCorrida](
	[HistoricoCorridaId] [int] IDENTITY(1,1) NOT NULL,
	[CompetidorId] [int] NOT NULL,
	[PistaCorridaId] [int] NOT NULL,
	[DataCorrida] [datetime2](7) NOT NULL,
	[TempoGasto] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_HistoricoCorrida] PRIMARY KEY CLUSTERED 
(
	[HistoricoCorridaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PistaCorrida]    Script Date: 09/03/2023 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PistaCorrida](
	[PistaCorridaId] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](50) NULL,
 CONSTRAINT [PK_PistaCorrida] PRIMARY KEY CLUSTERED 
(
	[PistaCorridaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
